.container {
    width: 80vw;
    max-width: 944px;
}

.extra{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.line-rigth{
    border-left: 1px solid #ffffff1f;
    padding-left: 20px;
}